
<section class="app-header">
  <h1>Photos App</h1>
  <div class="image-upload">
    <button mat-button color="primary">
      <label for="file-input">
      <mat-icon class="file-input-icon">cloud_upload</mat-icon>
      <span class="file-input-label">Upload</span>
    </label>
    </button>

<input id="file-input" type="file" [(ngModel)]="photoInput" (change)="onFileSelected($event)">
</div>

</section>
<mat-divider></mat-divider>
<mat-progress-bar mode="indeterminate" *ngIf="showProgress"></mat-progress-bar>

<section class="app-photos">
  <div *ngIf="photos.length === 0" class="empty-photos">
    <h2>You have no photos added</h2>
    <h3>Add using the upload button on the top right corner</h3>
  </div>
  <mat-grid-list cols="3" rowHeight="1:1" >
    <mat-grid-tile *ngFor="let photo of photos">
      <mat-card class="container">
        <img mat-card-image src="http://localhost:3300/photos/{{photo._id}}" alt="">
        <div class="overlay"></div>
        <mat-card-actions>
          <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="deletePhoto(photo._id)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</section>

